{% extends 'ecommerce/_base.html' %}
{% load static %}

{% block extraCSS %}
  <!-- LINEARICONS -->
  <link rel="stylesheet" href="{% static 'ecommerce/fonts/linearicons/authentication.css' %}">
  <!-- STYLE CSS -->
  <link rel="stylesheet" href="{% static 'ecommerce/css/authentication.css' %}">
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="inner">
      <div onclick="location.href='/'" style="color:white;background:gray;line-height:3;text-align:center;cursor:pointer">Back to home</div>
      <img src="{% static 'ecommerce/images/image-1.png' %}" alt="" class="image-1">
      <form action="{% url 'login' %}" method="post" id="login" style="border-top:5px solid #99ccff;">
        {% csrf_token %}
        <h3>Login</h3>
        
        <div class="form-holder">
          <span class="lnr lnr-user"></span>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-holder">
          <span class="lnr lnr-lock"></span>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button>
          <span>Login</span>
        </button>
        <br/>
        <h5 style="color:#5bd400">{{message}}</h5>
        <a style="float:right;cursor:pointer;" onclick="document.getElementById('login').style.display='none';document.getElementById('registration').style.display='block';">Not registered?</a>
      </form>
      
      <form action="{% url 'registration' %}" method="post" id="registration" style="display:none;border-top:5px solid #99ccff;">
        {% csrf_token %}
        <h3>New Account?</h3>
        <div class="form-holder">
          <span class="lnr lnr-user"></span>
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-holder">
          <span class="lnr lnr-lock"></span>
          <input type="password" class="form-control"  name="password"placeholder="Password" required>
        </div>
        <div class="form-holder">
          <span class="lnr lnr-user"></span>
          <input type="text" class="form-control"  name="first_name"placeholder="First name" required>
        </div>
        <div class="form-holder">
          <span class="lnr lnr-user"></span>
          <input type="text" class="form-control"  name="last_name"placeholder="last_name" required>
        </div>
        <div class="form-holder">
          <span class="lnr lnr-phone-handset"></span>
          <input type="text" class="form-control"  name="mobile_no" placeholder="Phone Number" required>
        </div>
        <div class="form-holder">
          <span class="lnr lnr-envelope"></span>
          <input type="email" class="form-control" name="email" placeholder="Email address" required>
        </div>
        <div class="form-holder">
          <select name="account_type" class="browser-default custom-select" required>
            <option value="s">Seller</option>
            <option value="b">Buyer</option>
          </select>
        </div>
        <button>
          <span>Register</span>
        </button>
        <br/>
        <a style="float:right;cursor:pointer;" onclick="document.getElementById('login').style.display='block';document.getElementById('registration').style.display='none';">Already registered?</a>
      </form>
      <img src="{% static 'ecommerce/images/image-2.png' %}" alt="" class="image-2">
    </div>
    
  </div>
{% endblock %}
		
{% block extraJS %}		
  <script src="{% static 'ecommerce/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'ecommerce/js/authentication.js' %}"></script>
{% endblock %}

